body, html {
    position: relative
}
@font-face{
    font-family:"Helveticaformilesandmore-Th";
    src:url('../fonts/Helveticaformilesandmore-Th.ttf') format('truetype');
}
@font-face{
    font-family:"Helveticaformilesandmore-Lt";
    src:url('../fonts/Helveticaformilesandmore-Lt.ttf') format('truetype');
}
@font-face{
    font-family:"Helveticaformilesandmore-Rm";
    src:url('../fonts/Helveticaformilesandmore-Rm.ttf') format('truetype');
}
@font-face{
    font-family:"Helveticaformilesandmore-Md";
    src:url('../fonts/Helveticaformilesandmore-Md.ttf') format('truetype');
}

.btn, .navigation a {
    text-decoration: none
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}
body {
    line-height: 1
}
ol, ul {
    list-style: none
}
blockquote, q {
    quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 20px;
    margin: 40px 0;
}
table th, table td {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 0 20px 0 20px;
}
table th p, table td p {
    font-size: inherit;
    font-weight: inherit;
}
*, :after, :before {
    box-sizing: border-box
}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0
}
.ordered-list li ol>li:before, .ordered-list ol li:before {
    content: counters(item, ".") " "
}
body, html {
    height: 100%;
    width: 100%;
    font: 7.5pt "Helveticaformilesandmore-Lt", "Helvetica Neue", sans-serif, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    background-color: #fff;
    transition: left 350ms ease-in-out
}
.ordered-list ol, .text, address {
    line-height: 2.4rem
}
.no-slide {
    left: 0
}
.weitere-infos {
    margin-bottom: 6rem;
    display: block;
    text-align: center
}
@media only screen and (min-width:1024px) {
    .hidden-large {
        display: none!important;
        visibility: hidden!important
    }
}
@media only screen and (max-width:1023px) {
    .hidden-small {
        display: none!important;
        visibility: hidden!important
    }
}
@media only screen and (max-width:480px) {
    .hidden-mini {
        display: none!important;
        visibility: hidden!important
    }
}
img {
    width: 100%;
    display: block
}
body {
    left: 0
}
.wrapper {
    padding: 2rem;
    word-break: break-word
}
.wrapper--faq-2 {
    margin-top: 4rem
}
h2.headline-big {
    margin-bottom: .8rem
}
.headline-big {
    font: 2.75rem "Helveticaformilesandmore-Th", "Helvetica Neue";
    color: #373737;
    font-weight: lighter
}
.headline-small, .ordered-list ol, .text, address {
    font-size: 1.5rem
}
.headline-small {
    font-weight: 400
}
.text-link {
    color: #0f286e
}
.ordered-list ol {
    counter-reset: item;
    margin: 0;
    padding: 0
}
.ordered-list ol>li {
    display: table;
    counter-increment: item
}
.ordered-list ol li:before {
    display: table-cell;
    padding-right: .6rem
}
.ordered-list li ol>li {
    margin: 0
}
hr {
    background-color: #9ea3a9;
    height: .1rem;
    width: 9rem;
    margin: 2rem auto 0 auto;
    border: none
}
ol, .ordered-list-normal, .ordered-list-normal ol,
ul, .unordered-list-normal, .unordered-list-normal ul {
    list-style-position: outside;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 8px;
    font-size: 1.5rem;
    line-height: 2.4rem;
}
ol, .ordered-list-normal, .ordered-list-normal ol {
    list-style-type: decimal
}
ul, .unordered-list-normal, .unordered-list-normal ul {
    list-style-type: disc
}
.unordered-list-normal li ul {
    list-style-type: circle;
    margin-top: 0;
    margin-bottom: 0
}
address {
    margin-bottom: 3rem
}
strong {
    font-family: "Helveticaformilesandmore-Md", "Helvetica Neue";
    font-weight: 500
}
.btn, .navigation__title {
    font-weight: 300;
    display: block
}
.btn {
    color: inherit;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
    overflow: hidden;
    width: 100%;
    box-shadow: inset 0 0 1px #000, inset 0 1px 0 rgba(55, 55, 55, 0), 0 1px 1px -1px rgba(191, 194, 197, .5)
}
.goal-detail .intro-text {
    font-size: 1.8rem;
    line-height: 2.4rem
}
.goal-detail .info-text {
    font-size: 1.5rem;
    color: #9ea3a9
}
.goal-detail .info-text:before {
    content: "";
    display: block;
    height: .1rem;
    width: 9rem;
    margin: 0 auto 2rem auto;
    background-color: #bfc2c5
}
.icon--shop {
    padding: .25rem
}
.icon--partnercard {
    width: 3.75rem!important;
    left: 1.95rem!important
}
a {
    -webkit-tap-highlight-color: transparent
}
li.navigation__list-item:first-child {
    padding-top: 0;
}
.navigation__list-item {
    border-bottom: 1px solid #cbcbcb;
    padding: 1.5rem 0;
    position: relative
}
.navigation__title--with-hint {
    padding: .5rem 0
}
.layer, .tac-detail-view .header {
    padding: 2rem;
    background: #efeff0
}
.navigation__title {
    font-size: 2rem;
    color: #373737;
    width: 95%
}
.navigation__hint {
    font-weight: lighter;
    display: block;
    margin-top: .25rem;
    font-size: 1.2rem;
    color: #373737
}
.navigation img {
    width: 1rem;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%)
}
.navigation a {
    color: #373737
}
.layer {
    position: relative;
    margin-bottom: 2rem;
    display: none;
    color: #373737
}
.layer.visible {
    display: block
}
.layer h1 {
    margin-bottom: 1rem
}
.layer .close-icon {
    width: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem
}
.tac-detail-view li {
    border-bottom: .1rem solid #fff
}
.tac-detail-view .header {
    position: relative;
    display: block
}
.tac-detail-view .header img {
    width: 3rem;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}
.tac-detail-view .header.active img {
    transform: translateY(-50%) rotate(-180deg);
    transition: .2s all
}
.tac-detail-view article h1:first-child {
    margin-top: 0;
}
.tac-detail-view article h1 {
    margin: 3rem 0 1.5rem
}
.tac-detail-view article p {
    margin-bottom: 3rem
}
.accordion article, .accordion article:after {
    display: none
}
.accordion .headline-big {
    font-size: 2rem
}
@media only screen and (min-width:375px) {
    .accordion .headline-big {
        font-size: 2.75rem
    }
}
.at-a-glance .intro-text {
    font-size: 1.8rem;
    line-height: 2.4rem
}
.bulleted-list, .select-benefits, .status-stars .text-link {
    font-size: 1.5rem
}
.at-a-glance .intro-text:after {
    content: "";
    display: block;
    height: .1rem;
    width: 9rem;
    margin: 3rem auto;
    background-color: #bfc2c5
}
.at-a-glance .bulleted-list {
    margin-bottom: 4.5rem
}
.select-benefits, .selections>.headline-big {
    margin-bottom: 3rem
}
.select-benefits {
    color: #9ea3a9;
    line-height: 2.4rem;
    margin-top: 2.5rem
}
.select-benefits li {
    overflow: hidden;
    padding: 2.5rem 0 2.5rem 5rem;
    position: relative;
    box-shadow: 0 1px 1px -1px #737373
}
.select-benefits li:first-child {
    box-shadow: 0 -1px 1px -1px #737373, 0 1px 1px -1px #737373
}
.select-benefits li img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5rem;
    width: 3rem;
    float: left;
    margin-right: 2rem
}
.select-benefits li span {
    margin-left: 4rem;
    float: left;
    display: block
}
.partner__list img {
    width: 46%;
    margin: 3rem 2%;
    float: left
}
.bulleted-list {
    color: #373737;
    line-height: 1.75rem;
    padding-left: 1.5rem
}
.bulleted-list li {
    margin-top: 1.5rem;
    text-indent: -2.5rem
}
.bulleted-list li:before {
    content: "-";
    margin: 1rem
}
@media only screen and (max-device-width:320px) and (max-device-height:568px) and (orientation:portrait) {
    .at-a-glance .intro-text {
        font-size: 1.8rem;
        line-height: 2.4rem
    }
}
@media only screen and (max-device-width:320px) and (max-device-height:480px) and (orientation:portrait) {
    .at-a-glance .intro-text {
        font-size: 1.8rem;
        line-height: 2.4rem
    }
}
.color-hon {
    color: #373737
}
.color-sixty {
    color: #9ea3a9
}
.color-ten {
    color: #efeff0
}
.color-frequent {
    color: #6e7882
}
.color-senator {
    color: #a57314
}
.color-mm-blue {
    color: #0f286e
}
.color-mid-blue {
    color: #3374b6
}
.color-orange {
    color: #f90
}
.color-red {
    color: #cb0000
}
.color-green {
    color: #24a722
}

span.marker,
span.marker a {
    color: #fff;
    background-color: #2661a5;
    padding: 0 4px;
}
