body,
html {
  position: relative
}

@font-face {
  font-family: "HelveticaNeueW02-45Ligh";
  src: url("../fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix");
  src: url("../fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot"),url("../fonts/7732d6de-bd05-4c17-ae43-99e9a02edf31.woff2") format("woff2"),url("../fonts/9a2e4855-380f-477f-950e-d98e8db54eac.woff") format("woff"),url("../fonts/fa82d0ee-4fbd-4cc9-bf9f-226ad1fcbae2.ttf") format("truetype"),url("../fonts/48d599a6-92b5-4d43-a4ac-8959f6971853.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg");
}

@font-face {
  font-family: "HelveticaNeueW02-UltLt";
  src: url("../fonts/787ee748-9cce-45a0-910b-6b5c6e87e327.eot?#iefix");
  src: url("../fonts/787ee748-9cce-45a0-910b-6b5c6e87e327.eot?#iefix") format("eot"),url("../fonts/b39b5378-b594-45fe-8067-fc4385d08520.woff2") format("woff2"),url("../fonts/84558c76-9f1b-44d2-ac62-d7937f43809b.woff") format("woff"),url("../fonts/411a88fe-e483-4fb8-af42-8369ebb1138d.ttf") format("truetype"),url("../fonts/6dfe33a4-0ad5-4c85-8e01-f48ecfe3c167.svg#6dfe33a4-0ad5-4c85-8e01-f48ecfe3c167") format("svg");
}

@font-face {
  font-family: "HelveticaNeueW01-65Medi";
  src: url("../fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix");
  src: url("../fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"),url("../fonts/3600b37f-2bf1-45f3-be3a-03365f16d9cb.woff2") format("woff2"),url("../fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),url("../fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"),url("../fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}

@font-face
{
    font-family: 'LufthansaText-Regular';
    src: url("../fonts/LufthansaText-Regular.otf") format('opentype');
}
@font-face
{
    font-family: 'LufthansaHead-Light';
    src: url('../fonts/LufthansaHead-Light.otf') format('opentype');
}

.btn,
.navigation a {
  text-decoration: none
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

*,
:after,
:before {
  box-sizing: border-box
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0
}

.ordered-list li ol>li:before,
.ordered-list ol li:before {
  content: counters(item, ".") " "
}

body,
html {
  height: 100%;
  width: 100%;
  font: 7.5pt "LufthansaHead-Light", "HelveticaNeueW02-45Ligh", "Helvetica Neue", sans-serif, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  background-color: #fff;
  transition: left 350ms ease-in-out
}

.ordered-list ol,
.text,
address {
  line-height: 2.2rem
}

.no-slide {
  left: 0
}

.weitere-infos {
  margin-bottom: 6rem;
  display: block;
  text-align: center
}

@media only screen and (min-width:1024px) {
  .hidden-large {
    display: none!important;
    visibility: hidden!important
  }

}

@media only screen and (max-width:1023px) {
  .hidden-small {
    display: none!important;
    visibility: hidden!important
  }

}

@media only screen and (max-width:480px) {
  .hidden-mini {
    display: none!important;
    visibility: hidden!important
  }

}

img {
  width: 100%;
  display: block
}

body {
  left: 0
}

.wrapper {
  padding: 2rem;
  word-break: break-word
}

.wrapper--faq-2 {
  margin-top: 4rem
}

h2.headline-big {
  margin-bottom: .8rem
}

.headline-big {
  font: 2.75rem "LufthansaHead-Light", "HelveticaNeueW02-UltLt", "Helvetica Neue";
  color: #373737;
  font-weight: lighter
}

.headline-small,
.ordered-list ol,
.text,
address {
  font-size: 1.5rem
}

.headline-small {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem
}

.text-link {
  color: #0f286e
}

.ordered-list ol {
  counter-reset: item;
  margin: 0;
  padding: 0
}

.ordered-list ol>li {
  display: table;
  counter-increment: item
}

.ordered-list ol li:before {
  display: table-cell;
  padding-right: .6rem
}

.ordered-list li ol>li {
  margin: 0
}

hr {
  background-color: #9ea3a9;
  height: .1rem;
  width: 9rem;
  margin: 2rem auto 0 auto;
  border: none
}

.ordered-list-normal,
.ordered-list-normal ol,
.unordered-list-normal,
.unordered-list-normal ul {
  list-style-position: outside;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  padding-left: 0;
  font-size: 1.5rem;
  line-height: 2rem
}

.ordered-list-normal,
.ordered-list-normal ol {
  list-style-type: decimal
}

.unordered-list-normal,
.unordered-list-normal ul {
  list-style-type: disc
}

.unordered-list-normal li ul {
  list-style-type: circle;
  margin-top: 0;
  margin-bottom: 0
}

address {
  margin-bottom: 3rem
}

strong {
  font-family: "LufthansaText-Regular", "HelveticaNeueW01-65Medi", "Helvetica Neue";
  font-weight: 500
}

.btn,
.navigation__title {
  font-weight: 300;
  display: block
}

.btn {
  color: inherit;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
  overflow: hidden;
  width: 100%;
  box-shadow: inset 0 0 1px #000, inset 0 1px 0 rgba(55, 55, 55, 0), 0 1px 1px -1px rgba(191, 194, 197, .5)
}

.goal-detail .intro-text {
  font-size: 1.8rem;
  line-height: 2.2rem
}

.goal-detail .info-text {
  font-size: 1.5rem;
  color: #9ea3a9
}

.goal-detail .info-text:before {
  content: "";
  display: block;
  height: .1rem;
  width: 9rem;
  margin: 0 auto 2rem auto;
  background-color: #bfc2c5
}

.icon--shop {
  padding: .25rem
}

.icon--partnercard {
  width: 3.75rem!important;
  left: 1.95rem!important
}

a {
  -webkit-tap-highlight-color: transparent
}

li.navigation__list-item:first-child {
  padding-top: 0;
}

.navigation__list-item {
  border-bottom: 0.5px solid #b4b4b4;
  padding: 1.5rem 0;
  position: relative
}

.navigation__title--with-hint {
  padding: .5rem 0
}

.layer,
.tac-detail-view .header {
  padding: 2rem;
  background: #efeff0
}

.navigation__title {
  font-size: 2rem;
  color: #373737;
  width: 95%
}

.navigation__hint {
  font-weight: lighter;
  display: block;
  margin-top: .25rem;
  font-size: 1.2rem;
  color: #373737
}

.navigation img {
  width: 1rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%)
}

.navigation a {
  color: #373737
}

.layer {
  position: relative;
  margin-bottom: 2rem;
  display: none;
  color: #373737
}

.layer.visible {
  display: block
}

.layer h1 {
  margin-bottom: 1rem
}

.layer .close-icon {
  width: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem
}

.tac-detail-view li {
  border-bottom: .1rem solid #fff
}

.tac-detail-view .header {
  position: relative;
  display: block
}

.tac-detail-view .header img {
  width: 3rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%)
}

.tac-detail-view .header.active img {
  transform: translateY(-50%) rotate(-180deg);
  transition: .2s all
}

.tac-detail-view article h1:first-child {
  margin-top: 0;
}

.tac-detail-view article h1 {
  margin: 3rem 0 1.5rem
}

.tac-detail-view article p {
  margin-bottom: 3rem
}

.accordion article,
.accordion article:after {
  display: none
}

.accordion .headline-big {
  font-size: 2rem
}

@media only screen and (min-width:375px) {
  .accordion .headline-big {
    font-size: 2.75rem
  }

}

.at-a-glance .intro-text {
  font-size: 1.8rem;
  line-height: 2.2rem
}

.bulleted-list,
.select-benefits,
.status-stars .text-link {
  font-size: 1.5rem
}

.at-a-glance .intro-text:after {
  content: "";
  display: block;
  height: .1rem;
  width: 9rem;
  margin: 3rem auto;
  background-color: #bfc2c5
}

.at-a-glance .bulleted-list {
  margin-bottom: 4.5rem
}

.select-benefits,
.selections>.headline-big {
  margin-bottom: 3rem
}

.select-benefits {
  color: #9ea3a9;
  line-height: 2.2rem;
  margin-top: 2.5rem
}

.select-benefits li {
  overflow: hidden;
  padding: 2.5rem 0 2.5rem 5rem;
  position: relative;
  box-shadow: 0 1px 1px -1px #737373
}

.select-benefits li:first-child {
  box-shadow: 0 -1px 1px -1px #737373, 0 1px 1px -1px #737373
}

.select-benefits li img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2.5rem;
  width: 3rem;
  float: left;
  margin-right: 2rem
}

.select-benefits li span {
  margin-left: 4rem;
  float: left;
  display: block
}

.partner__list img {
  width: 46%;
  margin: 3rem 2%;
  float: left
}

.bulleted-list {
  color: #373737;
  line-height: 1.75rem;
  padding-left: 1.5rem
}

.bulleted-list li {
  margin-top: 1.5rem;
  text-indent: -2.5rem
}

.bulleted-list li:before {
  content: "-";
  margin: 1rem
}

@media only screen and (max-device-width:320px) and (max-device-height:568px) and (orientation:portrait) {
  .at-a-glance .intro-text {
    font-size: 1.8rem;
    line-height: 2.2rem
  }

}

@media only screen and (max-device-width:320px) and (max-device-height:480px) and (orientation:portrait) {
  .at-a-glance .intro-text {
    font-size: 1.8rem;
    line-height: 2.2rem
  }

}

.color-hon {
  color: #373737
}

.color-sixty {
  color: #9ea3a9
}

.color-ten {
  color: #efeff0
}

.color-frequent {
  color: #6e7882
}

.color-senator {
  color: #a57314
}

.color-mm-blue {
  color: #0f286e
}

.color-mid-blue {
  color: #3374b6
}

.color-orange {
  color: #f90
}

.color-red {
  color: #cb0000
}

.color-green {
  color: #24a722
}

span.marker,
span.marker a {
  color: #fff;
  background-color: #2661a5;
  padding: 0 4px;
}

table.list {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  border-spacing: 2px;
  border-collapse: separate;
}

table.list th {
  font-size: 1.8rem;
  padding: 5px 0;
  color: #fff;
  background-color: #0c2058;
}

table.list tr.headerline {
  font-weight: bold;
}

table.list tr td {
  width: 50%;
  padding: 2px 5px;
  background-color: #ebebeb;
}

table.list tbody {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

strong.logo {
  font-size: 1.66rem;
  padding-left: 25px;
  font-weight: 400;
}

strong.logo.clock {
  background: url(../images/icons/clock.png) no-repeat;
  background-size: auto 100%;
  height: 24px;
  display: inline-block;
  padding-left: 35px;
}

strong.logo.camera {
  background: url(../images/icons/camera-add.png) no-repeat;
  background-size: auto 100%;
  height: 24px;
  display: inline-block;
}

.big {
  font-size: 1.75rem
}

.text-link {
  font-weight: 400
}

