:root {
	--fontSize: 10px;
}
html,body{
	font-size: var(--fontSize);
    font:"LufthansaText-Regular", "Helvetica Neue", sans-serif, sans-serif;
    color:#333333;
    margin:0;
    padding:0;
    min-height:100%;
    height:auto;
}
@font-face
{
    font-family: 'LufthansaText-Regular';
    src: local('LufthansaText-Regular'),url('LufthansaText-Regular.otf') format('opentype');
}
@font-face
{
    font-family: 'LufthansaHead-Light';
    src: local('LufthansaHead-Light'),url('LufthansaHead-Light.otf') format('opentype');
}
p{
    display:block;
    font:1.8rem "LufthansaText-Regular", "Helvetica Neue", sans-serif, sans-serif;
    line-height:2.4rem;
    -moz-osx-font-smoothing:grayscale;
    font-weight:300;
    background-color:#fff;
    padding:0 20px 20px 20px;
}
a {
    word-wrap: break-word;
}
.wrapper.goal-detail{
    margin:0
}
.goal-detail .intro-text{
    font-size:1.8rem;
    line-height:2.4rem
}

