body, html {
	padding-top: 0
}
body > img {
	margin-top: 0
}
.at-a-glance .intro-text {
	font-size: 1.75rem;
	line-height: 2.5rem;
}
.btn.blue {
	text-transform: none;
	border: none;
	color: #fff;
	background-color: #0c2058;
}
